@font-face {
    font-family: 'Conv_New Journal Plain';
    src: url('fonts/New Journal Plain.eot');
    src: local('?'), url('fonts/New Journal Plain.woff') format('woff'), url('fonts/New Journal Plain.ttf') format('truetype'), url('fonts/New Journal Plain.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {padding: 0; margin: 0;}
html, body{font-family:'Conv_New Journal Plain',Sans-Serif; background:#615f43;}
.pull-left{float:left;}
.pull-right{float:right;}
.align-center{text-align: center;}
.header{height: 100px; background:#000; padding: 45px 0;}
.header .logo{width:1010px; height: 82px; display: block; margin: 0 auto; background: url('img/logo_big.png') no-repeat;}
.header .logo_content{width:900px; height: 102px; display: block; margin: 0 auto; background: url('img/logo_big.png') no-repeat;}
.body{min-height:2000px; background: url('img/background.jpg') center top repeat-y #8b5f37;}
.body .content{width: 980px; margin: 0 auto; background: rgba(48,41,26,0.62); min-height: 2000px;}
.body .content p.cont{padding: 18px 36px; font-size: 12px; color:#eaeaea; text-align: center; line-height: 28px;}
.body .content p.cont .year{font-size: 18px; line-height: 100px;position:relative;}
.body .content p.cont .year:before{content:"";width:48px;height:2px;position: absolute; background:#fff; left: -64px; top: 10px;}
.body .content p.cont .year:after{content:"";width:48px;height:2px;position: absolute; background:#fff; right: -64px; top: 10px;}
.body .content table{margin: 0 auto;}
.body .content table td{width:430px; text-align: center; padding-bottom: 60px; font-size: 24px; color:#fff;}
.body .content table td span{font-size: 50px;}
.body .content table td .part{width:430px; height:491px;}
.body .content table td .part.part1{background:url('img/part1.png') center top no-repeat;}
.body .content table td .part.part2{background:url('img/part2.png') center top no-repeat;}
.body .content table td .part .text{display:none;}
.body .content table td .part:hover .text{display: block;}
.body .content table td .part:hover{background:none!important;}
.body .content h2{font-weight: normal; font-size: 48px; color:#fff; text-transform: uppercase; line-height: 240px; text-align: center;letter-spacing: -1px;}
.body .content h3{font-weight: normal; font-size: 34px; color:#fff; text-transform: uppercase; line-height: 180px; text-align: center;letter-spacing: -1px; padding-top:40px;}
.body .content .weight{width: 1170px; position: relative; left: -90px;}
.body .content .weight table a{display: inline-block;}
.body .content .weight table a.r1{width:287px;height:287px;background: url('img/photo4.png');}
.body .content .weight table a.r1:hover{width:287px;height:287px;background: url('img/photo4_h.png');}
.body .content .weight table a.r2{width:302px;height:302px;background: url('img/photo5.png');}
.body .content .weight table a.r2:hover{width:302px;height:302px;background: url('img/photo5_h.png');}
.body .content .weight table a.r3{width:275px;height:275px;background: url('img/photo6.png');}
.body .content .weight table a.r3:hover{width:275px;height:275px;background: url('img/photo6_h.png');}
.footer{height: 100px; background:#fff;padding: 110px 0;}
.footer .logos{width:860px; margin: 0 auto; height: 118px;}

#content {margin: 0 0 0 400px; padding: 50px; background:#615f43; color:#fff; min-height: 100%;}
#menu { float: left; width: 400px; background: url('img/background2.jpg');min-height: 100%;}
#menu .item{width: 217px; height: 267px; display: block; margin-left: 70px; padding-top:60px;}
